Html{
font-family: 'Coiny', cursive;
Font-size: 15px;
background-color: #262626;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  text-align: center;
}

p, li {
  font-size: 30px;    
  line-height: 1;
  letter-spacing: 1px;
}
img {
  display: block;
  margin: 0 auto;
}
p1 {
    font-size: 15px;    
  line-height: 1;
  letter-spacing: 1px;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
